{% extends 'khuApp/base.html' %}
<html lang='fa-IR'>

{% block page_header %}
{% endblock page_header %}


<head>
	<link rel="stylesheet" href="/static/css/styles.css">
	<script src="/static/scripts/script.js"></script>
	<style>

  </style>
</head>	

{% block content %}
<body>
   <div class="card">
     <div class="card-body text-center">
      <h2>درباره ما</h2><br>

      <p>
        وبسایت یک منبع آموزشی برای دانشجویان دانشگاه خوارزمی می‌باشد که با هدف ارایه خدمات رایگان و آسان‌نمودن دسترسی
         به منابع به صورت مرتب و یکجا ایجاده شده و مداوما به‌روزرسانی می‌گردد تا در اختیار همگان قرارگیرد.
         امید بر آن است که این منبع آموزشی به زودی دربردارنده منابع دیگر دانشگاه‌های سراسر کشور نیز باشد.
      </p>
         
      </div>

   </div>
</div>
</div>
</body>


{% endblock content %}
</html>