
<!DOCTYPE html>
<html lang='fa' dir="rtl"></html>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>khu booklet</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="/khu-booklet/static/assets/img/favicon.png" rel="icon">
  <link href="/khu-booklet/static/assets/" rel="apple-touch-icon">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="/khu-booklet/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/khu-booklet/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/khu-booklet/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/khu-booklet/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/khu-booklet/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/khu-booklet/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="/khu-booklet/static/assets/css/style.css" rel="stylesheet">
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo"><img src="/khu-booklet/static/images/khu booklet logo purple.png" alt="" class="img-fluid" width="200" height="500"></a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/khu-booklet/index"><img src="/khu-booklet/static/images/khooneh purple.png" alt="" class="img-fluid" width="32"></a></li>
          <li><a class="nav-link scrollto" href="about.html"><img src="/khu-booklet/static/images/darbereh ma purple.png" alt="" class="img-fluid" width="50"></a></li>
          <!--li class="dropdown"><a href="categories_list.html"><span><img src="/khu-booklet/static/images/vorood purple.png" alt="" class="img-fluid" width="32"></span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'users:register' %}">ثبت‌نام</a></li>
              <li><a href="{% url 'users:logout' %}">خروج</a></li>
            </ul>
	</li-->
          <!--li class="dropdown"><a href="categories_list.html"><span><img src="/khu-booklet/static/images/ketabkhooneh purple.png" alt="" class="img-fluid" width="55"></span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="categories_list.html">دروس اختصاصی</a></li>
              <li><a href="general.html">دروس عمومی</a></li>
            </ul>
	</li-->
	  <li><a class="nav-link scrollto " href="categories_list.html"><img src="/khu-booklet/static/images/ketabkhooneh purple.png" alt="" class="img-fluid" width="55"></a></li>
          <li><a class="nav-link scrollto " href="contact.html"><img src="/khu-booklet/static/images/ertebat ba ma purple.png" alt="" class="img-fluid" width="65"></a></li>
          <li><a class="nav-link scrollto" href="help.html"><img src="/khu-booklet/static/images/rahnama purple.png" alt="" class="img-fluid" width="36"></a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">
 

    <!-- ======= Library Section ======= -->
    <section id="services" class="services">
      <div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
			  <div class="icon-box">
				<div class="icon"><a href="randomprocesses.html"><img src="/khu-booklet/static/images/gamble 2.png" alt="" class="img-fluid" width="120"></div>
				<h4 class="title">فرآیندهای تصادفی</h4></a>
				<p class="description">اختصاصی - اختیاری</p>
			  </div>
			</div>

			<div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
				<div class="icon-box">
				  <div class="icon"><a href="ranalysis.html"><img src="/khu-booklet/static/images/ranalysis icon.png" alt="" class="img-fluid" width="120"></div>
				  <h4 class="title">آنالیز ریاضی</h4></a>
				  <p class="description">اختصاصی - الزامی</p>
				</div>
			  </div>

			  <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
				<div class="icon-box">
				  <div class="icon"><a href="numth.html"><img src="/khu-booklet/static/images/numth icon.svg" alt="" class="img-fluid" width="120"></div>
				  <h4 class="title">نظریه مقدماتی اعداد</h4></a>
				  <p class="description">اختصاصی - انتخابی</p>
				</div>
			  </div>


			  <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
				<div class="icon-box">
				  <div class="icon"><a href="coding.html"><img src="/khu-booklet/static/images/coding icon.jpg" alt="" class="img-fluid" width="120"></div>
				  <h4 class="title">نظریه کدگذاری</h4></a>
				  <p class="description">اختصاصی - اختیاری</p>
				</div>
			  </div>

			  <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
				<div class="icon-box">
				  <div class="icon"><a href="comfunc.html"><img src="/khu-booklet/static/images/comfunc icon 3.png" alt="" class="img-fluid" width="100"></div>
				  <h4 class="title">توابع مختلط</h4></a>
				  <p class="description">اختصاصی - انتخابی</p>
				</div>
			  </div>


			  <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
				<div class="icon-box">
				  <div class="icon"><a href="ad_programming.html"><img src="/khu-booklet/static/images/ad_pro icon.png" alt="" class="img-fluid" width="120"></div>
				  <h4 class="title">برنامه‌سازی پیشرفته</h4></a>
				  <p class="description">اختصاصی - انتخابی</p>
				</div>
			  </div>


			  <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
				<div class="icon-box">
				  <div class="icon"><a href="fuzzy.html"><img src="/khu-booklet/static/images/fuzzy icon.jpg" alt="" class="img-fluid" width="120"></div>
				  <h4 class="title">مجموعه‌های فازی</h4></a>
				  <p class="description">اختصاصی - اختیاری</p>
				</div>
			  </div>

			  <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
				<div class="icon-box">
				  <div class="icon"><a href="graph.html"><img src="/khu-booklet/static/images/graph icon.png" alt="" class="img-fluid" width="120"></div>
				  <h4 class="title">نظریه گراف‌ها</h4></a>
				  <p class="description">اختصاصی - اختیاری</p>
				</div>
			  </div>


			  <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
				<div class="icon-box">
				  <div class="icon"><a href="lopt.html"><img src="/khu-booklet/static/images/lopt icon.png" alt="" class="img-fluid" width="150"></div>
				  <h4 class="title">بهینه‌سازی خطی</h4></a>
				  <p class="description">اختصاصی - الزامی</p>
				</div>
			  </div>


			  <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
				<div class="icon-box">
				  <div class="icon"><a href="defa.html"><img src="/khu-booklet/static/images/defa icon.svg" alt="" class="img-fluid" width="160"></div>
				  <h4 class="title">دفاع مقدس</h4></a>
				  <p class="description">خارج رشته</p>
				</div>
			  </div>



			  <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
				<div class="icon-box">
				  <div class="icon"><a href="math_softwares.html"><img src="/khu-booklet/static/images/math soft icon.svg" alt="" class="img-fluid" width="150"></div>
				  <h4 class="title">نرم‌افزارهای ریاضی</h4></a>
				  <p class="description">اختصاصی - اختیاری</p>
				</div>
			  </div>



			  <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
				<div class="icon-box">
				  <div class="icon"><a href="probability1.html"><img src="/khu-booklet/static/images/prob1 icon.png" alt="" class="img-fluid" width="140"></div>
				  <h4 class="title">احتمال 1</h4></a>
				  <p class="description">اختصاصی - الزامی</p>
				</div>
			  </div>


			  <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
				<div class="icon-box">
				  <div class="icon"><img src="/khu-booklet/static/images/dif eq icon.png" alt="" class="img-fluid" width="140"></div>
				  <h4 class="title">معادلات دیفرانسیل</h4></a>
				  <p class="description">اختصاصی - پایه</p>
				</div>
			  </div>


        <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><img src="/khu-booklet/static/images/cal1 icon.png" alt="" class="img-fluid" width="140"></div>
            <h4 class="title">ریاضی عمومی 1</h4></a>
            <p class="description">اختصاصی - پایه</p>
          </div>
          </div>


          <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><img src="/khu-booklet/static/images/cal2 icon" alt="" class="img-fluid" width="140"></div>
              <h4 class="title">ریاضی عمومی 2</h4></a>
              <p class="description">اختصاصی - پایه</p>
            </div>
          </div>


          <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box">
                <div class="icon"><img src="/khu-booklet/static/images/cal3 icon.png" alt="" class="img-fluid" width="140"></div>
                <h4 class="title">ریاضی عمومی 3</h4></a>
                <p class="description">اختصاصی - پایه</p>
              </div>
          </div> 
          
          <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><a href="stat_methods.html"><img src="/khu-booklet/static/images/stat icon.png" alt="" class="img-fluid" width="140"></div>
              <h4 class="title">روش‌های آماری</h4></a>
              <p class="description">اختصاصی - الزامی</p>
            </div>
            </div>

          <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><img src="/khu-booklet/static/images/comp.png" alt="" class="img-fluid" width="140"></div>
              <h4 class="title">مبانی کامپیوتر و برنامه‌سازی</h4></a>
              <p class="description">اختصاصی - پایه</p>
            </div>
        </div> 

        <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><img src="/khu-booklet/static/images/mabani olum riazi icon.png" alt="" class="img-fluid" width="140"></div>
            <h4 class="title">مبانی علوم ریاضی</h4></a>
            <p class="description">اختصاصی - الزامی مشترک</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><img src="/khu-booklet/static/images/mat icon.png" alt="" class="img-fluid" width="150"></div>
            <h4 class="title">مبانی ماتریس‌ها و جبر خطی</h4></a>
            <p class="description">اختصاصی - الزامی مشترک</p>
          </div>
        </div>


        <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><img src="/khu-booklet/static/images/m ranalysis icon.png" alt="" class="img-fluid" width="200"></div>
            <h4 class="title">مبانی آنالیز ریاضی</h4></a>
            <p class="description">اختصاصی - الزامی مشترک</p>
          </div>
        </div>


        <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><a href="MNA.html"><img src="/khu-booklet/static/images/num analysis icon.png" alt="" class="img-fluid" width="140"></div>
            <h4 class="title">مبانی آنالیز عددی</h4></a>
            <p class="description">اختصاصی - الزامی مشترک</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><img src="/khu-booklet/static/images/combination icon.png" alt="" class="img-fluid" width="140"></div>
            <h4 class="title">مبانی ترکیبیات</h4></a>
            <p class="description">اختصاصی - الزامی</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><img src="/khu-booklet/static/images/prob icon.png" alt="" class="img-fluid" width="140"></div>
            <h4 class="title">مبانی احتمال</h4></a>
            <p class="description">اختصاصی - الزامی مشترک</p>
          </div>
        </div>


        <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><img src="/khu-booklet/static/images/algebra icon.png" alt="" class="img-fluid" width="140"></div>
            <h4 class="title">مبانی جبر</h4></a>
            <p class="description">اختصاصی - پایه</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><img src="/khu-booklet/static/images/nla icon.png" alt="" class="img-fluid" width="140"></div>
            <h4 class="title">جبر خطی عددی</h4></a>
            <p class="description">اختصاصی - الزامی</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><a href="geometry.html"><img src="/khu-booklet/static/images/geo icon.png" alt="" class="img-fluid" width="130"></div>
            <h4 class="title">مبانی هندسه</h4></a>
            <p class="description">اختصاصی - الزامی</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><img src="/khu-booklet/static/images/tode icon.jpg" alt="" class="img-fluid" width="160"></div>
            <h4 class="title">نظریه معادلات دیفرانسیل عادی</h4></a>
            <p class="description">اختصاصی - الزامی</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><img src="/khu-booklet/static/images/pde icon.png" alt="" class="img-fluid" width="160"></div>
            <h4 class="title">معادلات دیفرانسیل با مشتقات جزیی</h4></a>
            <p class="description">اختصاصی - الزامی</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><img src="/khu-booklet/static/images/topo icon.png" alt="" class="img-fluid" width="160"></div>
            <h4 class="title">توپولوژی عمومی</h4></a>
            <p class="description">اختصاصی - الزامی</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><a href="logic.html"><img src="/khu-booklet/static/images/logic icon.jpg" alt="" class="img-fluid" width="160"></div>
            <h4 class="title">مبانی منطق و نظریه مجموعه‌ها</h4></a>
            <p class="description">اختصاصی - الزامی</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><img src="/khu-booklet/static/images/group icon" alt="" class="img-fluid" width="160"></div>
            <h4 class="title">نظریه گروه‌ها</h4></a>
            <p class="description">اختصاصی - انتخابی</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><img src="/khu-booklet/static/images/ap alg icon.jpg" alt="" class="img-fluid" width="180"></div>
            <h4 class="title">جبر کاربردی</h4></a>
            <p class="description">اختصاصی - انتخابی</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><img src="/khu-booklet/static/images/geo alg icon.png" alt="" class="img-fluid" width="180"></div>
            <h4 class="title">هندسه جبری مقدماتی</h4></a>
            <p class="description">اختصاصی - انتخابی</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><img src="/khu-booklet/static/images/measure icon.jpg" alt="" class="img-fluid" width="180"></div>
            <h4 class="title">نظریه اندازه و کاربردها</h4></a>
            <p class="description">اختصاصی - انتخابی</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><img src="/khu-booklet/static/images/num analysis icon.png" alt="" class="img-fluid" width="180"></div>
            <h4 class="title">آنالیز عددی</h4></a>
            <p class="description">اختصاصی - اختیاری</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><img src="/khu-booklet/static/images/nonlopt icon.webp" alt="" class="img-fluid" width="180"></div>
            <h4 class="title">بهینه‌سازی غیرخطی</h4></a>
            <p class="description">اختصاصی - اختیاری</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><img src="/khu-booklet/static/images/eng icon.png" alt="" class="img-fluid" width="130"></div>
            <h4 class="title">زبان تخصصی</h4></a>
            <p class="description">اختصاصی - اختیاری</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><a href="hist.html"><img src="/khu-booklet/static/images/math hist icon.svg" alt="" class="img-fluid" width="130"></div>
            <h4 class="title">تاریخ ریاضیات</h4></a>
            <p class="description">اختصاصی - اختیاری</p>
          </div>
        </div>

	<div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
				<div class="icon-box">
				  <div class="icon"><a href="tarikh_tahlili.html"><img src="/khu-booklet/static/images/defa icon.svg" alt="" class="img-fluid" width="120"></div>
				  <h4 class="title">تاریخ تحلیلی صدر اسلام</h4></a>
				  <p class="description">عمومی</p>
				</div>
			  </div>


	<div class="col-md-6 col-lg-2 d-flex align-items-stretch mb-5 mb-lg-0">
				<div class="icon-box">
				  <div class="icon"><a href="tafsir_qoran.html"><img src="/khu-booklet/static/images/defa icon.svg" alt="" class="img-fluid" width="120"></div>
				  <h4 class="title">تفسیر موضوعی قرآن</h4></a>
				  <p class="description">عمومی</p>
				</div>
			  </div>		



		  </div>

    </section>





  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <img src="/khu-booklet/static/images/logo khu booklet.png" alt="" class="img-fluid" width="500">
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>دسترسی سریع</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/khu-booklet/index.html">خونه</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="categories_list.html">کتابخونه</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="about.html">درباره ما</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="help.html">راهنما</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">حریم خصوصی</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>دسته‌بندی‌های پیشنهادی</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">اختصاصی</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">عمومی</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">خارج رشته</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">انتخابی</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">اختیاری</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>اطلاع از منابع جدید</h4>
            
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="عضویت">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-telegram"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-google"></i></a>
      </div>
      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>khu booklet</span></strong>. All Rights Reserved
        </div>
        <div class="credits"></div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/khu-booklet/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/khu-booklet/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/khu-booklet/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/khu-booklet/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/khu-booklet/static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/khu-booklet/static/assets/js/main.js"></script>

</body>

</html>
