{% extends 'BookletApp/base.html' %}
{% load static %}

{% block page_header %}

{% endblock page_header %}

{% block content %}

   <div class="container mt-4">
    <h2>Coding & Cryptography</h2>


    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Booklet</h5>
            <p class="card-text">Dr.Arash Ahadi- 1401</p>
            <p>By: Jeyran Azizi</p>
            <a href="/Downloads/Coding.pdf" download class="btn btn-primary">Download</a>
        </div>
    </div>


{% endblock content %}	