{% extends 'BookletApp/base.html' %}
{% load static %}

{% block page_header %}

{% endblock page_header %}

{% block content %}

   <div class="container mt-4">
    <h2>Complex Functions</h2>


    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Booklet</h5>
            <p class="card-text">Dr.Amirhossein Sanatpour- 1400</p>
            <p>By: Jeyran Azizi</p>
            <p class="card-text">فصل اول</p>
            <a href="/Downloads/Complex Functions. Jeyran Azizi. S01.pdf" download class="btn btn-primary">Download</a>
            <p class="card-text">فصل دوم</p>
            <a href="/Downloads/Complex Functions. Jeyran Azizi. S02.pdf" download class="btn btn-primary">Download</a>
            <p class="card-text">فصل سوم و چهارم</p>
            <a href="/Downloads/Complex Functions. Jeyran Azizi. S03 & 4~.pdf" download class="btn btn-primary">Download</a>
            <p class="card-text">ادامه فصل چهارم</p>
            <a href="/Downloads/Complex Functions. Jeyran Azizi. S04.pdf" download class="btn btn-primary">Download</a>
            <p class="card-text">فصل پنجم و ششم</p>
            <a href="/Downloads/Complex Functions. Jeyran Azizi. S05 & 6~.pdf" download class="btn btn-primary">Download</a>
            <p class="card-text">فصل هفتم</p>
            <a href="/Downloads/Complex Functions. Jeyran Azizi. S07.pdf" download class="btn btn-primary">Download</a>
            <p class="card-text">فصل هشتم</p>
            <a href="/Downloads/Complex Functions. Jeyran Azizi. S08.pdf" download class="btn btn-primary">Download</a>
        </div>
    </div>


{% endblock content %}	