{% extends 'BookletApp/base.html' %}
{% load static %}

{% block page_header %}

{% endblock page_header %}

{% block content %}

   <div class="container mt-4">
    <h2>Fuzzy Sets</h2>


    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Booklet</h5>
            <p class="card-text">Dr.Raheleh Zamini</p>
            <p class="card-text">سیگما میدان</p>
            <a href="/Downloads/مجموعه‌های فازی- سیگما میدان.pdf" download class="btn btn-primary">Download</a>
            <p class="card-text">برآوردگرها</p>
            <a href="/Downloads/مجموعه‌های فازی- برآوردگرها.pdf" download class="btn btn-primary">Download</a>
            <p class="card-text">مثال‌ها و روابط فصل 3</p>
            <a href="/Downloads/مجموعه‌های فازی- مثال‌ها و روابط فصل ۳.pdf" download class="btn btn-primary">Download</a>
            <p class="card-text">مثال‌ها و روابط فصل 4</p>
            <a href="/Downloads/مجموعه‌های فازی- مثال‌ها و روابط فصل 4.pdf" download class="btn btn-primary">Download</a>
            <p class="card-text">بخش آخر</p>
            <a href="/Downloads/مجموعه‌های فازی- بخش آخر.pdf" download class="btn btn-primary">Download</a>
            
        </div>
    </div>


{% endblock content %}	