{% extends 'BookletApp/base.html' %}
{% load static %}

{% block page_header %}

{% endblock page_header %}

{% block content %}

   <div class="container mt-4">
    <h2>Graph Theory</h2>


    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Booklet</h5>
            <p class="card-text">Dr.Salarian</p>
            <p class="card-text">میانترم</p>
            <a href="/Downloads/گراف- میانترم.pdf" download class="btn btn-primary">Download</a>
            <p class="card-text">پایانترم</p>
            <a href="/Downloads/گراف- پایانترم.pdf" download class="btn btn-primary">Download</a>
            
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Source</h5>
            <p class="card-text">نظریه گراف و کاربردهای آن- باندی و مورتی</p>
            <a href="/Downloads/Graph Theory And Its Application.pdf" download class="btn btn-primary">Download</a>
        </div>
    </div>


{% endblock content %}	