{% extends 'BookletApp/base.html' %}
<html lang='fa-IR'>

{% block page_header %}
{% endblock page_header %}


<head>
	<link rel="stylesheet" href="/static/css/styles.css">
	<script src="/static/scripts/script.js"></script>
	<style>

  </style>
</head>	

{% block content %}
<body>
   <div class="card">
     <div class="card-body text-center">
      <h2>راهنمای استفاده از سایت</h2><br>

      <p>
        برای دانلود و استفاده از جزوات، تمرینات و منابع آموزشی روی بخش "کتابخونه" در نوار بالای سایت کلیک کنید. یک منو با
        دو گزینه برای شما نمایش داده‌میشه. اولی دروس اختصاصی و دومی دروس عمومی هست (توجه داشته باشید که دروس عمومی،
        دروس خارج از رشته رو هم شامل میشه).
         با کلیک روی هر کدام از این دو، تمام درس‌های مرتبط رو به صورت تفکیک‌شده خواهید دید.
         با انتخاب نام درس موردنظر یا با استفاده از نوار جست‌وجو در بالای صفحه،
         به صفحه مختص هر درس هدایت میشید. هر یک از این صفحات شامل جزوات متنوع، تمرینات، منابع درسی و سوالات امتحانی نیمسال‌های قبلی هست که برحسب
         اساتید مختلف از هم جدا شدن. در کنار این منابع بخشی با عنوان امتیازدهی قرارداده‌شده تا کار روی برای انتخاب منابع آموزشی راحتتر کنه،
         به این صورت که شما کاربران عزیزان می‌تونید بعد از استفاده از منابع سایت و برحسب تجربه شخصی خودتون، امتیازی به اون منبع اختصاص بدید
         تا به دوستان خودتون برای شناختن منابع بهتر کمک کنید. علاوه بر قسمت امتیازدهی، شما می‌تونید با مراجعه به بخش "انتقادات و پیشنهادات"،
         نظرات خودتون رو در مورد کیفیت فایل‌ها ثبت کنید تا ما در کمترین زمان ممکن جهت رفع نواقص و پیشرفت اون‌ها اقدام کنیم.
        <br>
         برای اضافه‌‌کردن منابع جدید به سایت، با مراجعه به نوار بالای صفحه و انتخاب بخش "آپلود"، یا لینکی که در انتهای صفحه مختص
         هر درس قرار داره، فایل خودتون رو بارگذاری کنید تا پس از بررسی اون، با نام خود شما در سایت قراربگیره.
         <br>
         در صورت وجود هر گونه مشکل در دسترسی به فایل‌ها، با پشتیبان سایت در ارتباط باشید.
      </p>
         
      </div>

   </div>
</div>
</div>
</body>


{% endblock content %}
</html>