{% extends 'BookletApp/base.html' %}
{% load static %}

{% block page_header %}

{% endblock page_header %}

{% block content %}

   <div class="container mt-4">
    <h2>Mathematical Softwares</h2>


    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Booklet</h5>
            <p class="card-text">(Matlab) Dr.Elham Tabrizi- 1400</p>
            <p>By: Niloofar Nejati</p>
            <p class="card-text">جلسه 15 و 16</p>
            <a href="/Downloads/جلسه ۱۵ و ۱۶ نرم افزار 24-Nov-2021 02-55-23.pdf" download class="btn btn-primary">Download</a>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Source</h5>
            <p class="card-text">آموزش نرم‌افزار متلب- کوشا و شادکام</p>
            <a href="/Downloads/Statistical Methods.pdf" download class="btn btn-primary">Download</a>
        </div>
    </div>


{% endblock content %}	