{% extends 'BookletApp/base.html' %}
{% load static %}

{% block page_header %}

{% endblock page_header %}

{% block content %}

   <div class="container mt-4">
    <h2>Number Theory</h2>


    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Booklet</h5>
            <p class="card-text">Dr.Reza Orfi- 1400</p>
            <a href="/Downloads/NT.pdf" download class="btn btn-primary">Download</a>
            
        </div>
    </div>


{% endblock content %}	