{% extends 'BookletApp/base.html' %}
{% load static %}

{% block page_header %}

{% endblock page_header %}

{% block content %}

   <div class="container mt-4">
    <h2>Probability1</h2>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Booklet</h5>
            <p class="card-text">Dr.Bardia Panahbehagh- Midterm- 1400</p>
            <a href="/Downloads/Probability-midterm(BP).pdf" download class="btn btn-primary">Download</a>
        </div>
    </div>


    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Booklet</h5>
            <p class="card-text">Dr.Meysam Moghimbeigi- 1401</p>
            <p>By: Jeyran Azizi</p>
            <a href="/Downloads/Probability1.pdf" download class="btn btn-primary">Download</a>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Exercises</h5>
            <p>By: Jeyran Azizi</p>
            <p class="card-text">تمرینات فصل سوم</p>
            <a href="/Downloads/P1. Jeyran Azizi. 1.21.pdf" download class="btn btn-primary">Download</a>
            <p class="card-text">ادامه تمرینات فصل سوم</p>
            <a href="/Downloads/P1.pdf" download class="btn btn-primary">Download</a>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Exam</h5>
            <p class="card-text">آزمون میانترم</p>
            <a href="/Downloads/p1- mid.pdf" download class="btn btn-primary">Download</a>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Source</h5>
            <p class="card-text">احتمال1- بازرگانی لاری</p>
            <a href="/Downloads/احتمال1 بازرگانی لاری.pdf" download class="btn btn-primary">Download</a>
        </div>
    </div>


{% endblock content %}	