
/*@font-face {
    font-family: Parastoo;
    src: url('/fonts/parastoo-font-v1.0.0-alpha5/web/Parastoo-Bold.eot');
    src: url('/fonts/parastoo-font-v1.0.0-alpha5/web/Parastoo-Bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/parastoo-font-v1.0.0-alpha5/web/Parastoo-Bold.woff') format('woff'),
         url('/fonts/parastoo-font-v1.0.0-alpha5/web/Parastoo-Bold') format('truetype');
    font-weight: bold;
  }

@font-face {
    font-family: parastoo;
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/parastoo-font-v1.0.0-alpha5/web/Parastoo.eot');
    src: url('/fonts/parastoo-font-v1.0.0-alpha5/web/Parastoo.woff') format('woff'),
         url('/fonts/parastoo-font-v1.0.0-alpha5/web/Parastoo.ttf')
         url('/fonts/parastoo-font-v1.0.0-alpha5/web/Parastoo.woff') format('woff2');
}

@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 950;
    src: url('/fonts/Vazir-Black.eot');
    src: url('/fonts/Vazir-Black.woff') format('woff'),
         url('/fonts/Vazir-Black.ttf') format('ttf'),
         url('/fonts/Vazir-Black.woff2') format('woff2');
}*/

/*@font-face {
    font-family: 'parastoo';
    font-style: normal;
    src: url('/fonts/Parastoo.eot');
    src: url('/fonts/Parastoo.woff') format('woff'),
         url('/fonts/Parastoo.woff2') format('woff2');
}*/